<a href="https://colab.research.google.com/github/music-ai-644/AI_Study_2022/blob/main/week2_make_calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# week2 make calculator

### 클래스 기초

In [ ]:
class School:
  pass

# 객체, 인스턴스

In [ ]:
class School:
  teacher = "이경훈"
  # 변수, 필드 

print(School.teacher)

이경훈

In [ ]:
class School:
  teacher = "이경훈"
  students = ["서진주", "나윤진", "이예지"]

  def choolsuk():  # method, 동작하는 함수
    for s in students:
      print(s)

In [ ]:
A = School()  # A라는 School의 객체 생성

In [ ]:
A.students

['서진주', '나윤진', '이예지']

In [ ]:
A.choolsuk()

TypeError: ignored

In [ ]:
class School:
  teacher = "이경훈"
  students = ["서진주", "나윤진", "이예지"]

  def choolsuk(self):  # method, 동작하는 함수
    for s in self.students:  # 자기 자신의 값을 참조하고 싶다!
      print(s)

In [ ]:
A = School()

In [ ]:
A.teacher

'이경훈'

In [ ]:
A.choolsuk()

서진주
나윤진
이예지

In [ ]:
class School:
  teacher = "이경훈"
  students = ["서진주", "나윤진", "이예지"]

  def choolsuk(self):  # method, 동작하는 함수
    for s in self.students:  # 자기 자신의 값을 참조하고 싶다!
      print(s) 
  
  def other_choolsuk(self, some_students):  # 외부에서 파라미터를 받아서 출력
    for s in some_students:
      print(s)

In [ ]:
A = School()  # 객체 만들고

In [ ]:
a_studnets = ["이예지", "이양선", "이현무"]

In [ ]:
A.other_choolsuk(["나윤진", "김태우"])

나윤진
김태우

## 계산기 만들기 
- class Calculator
- 내부에 cnt 변수 만들고 calculator 를 쓸 때마다 1씩 증가시키기 
- cnt의 초깃값은 0 
- add, sub, mul, div 외부 함수 만들기 
- cnt_add 내부 함수 만들기 : calculator 쓸 때마다 1씩 증가 
- 외부 함수는 항상 값을 두 개씩 받아오기
- div 함수는 분모에 해당하는 값이 0이면 에러가 나도록 할 것

In [ ]:
class Calculator:
  cnt = 0 

  def add(self, a, b):
    self._cnt_add()
    return a + b

  def sub(self, a, b):
    self._cnt_add()
    return a - b

  def mul(self, a, b):
    self._cnt_add()
    return a * b 

  def div(self, a, b):
    if b == 0:
      # print("error")
      raise ValueError("Error : b == 0")
    else:
      self._cnt_add()
      return a / b 

  def _cnt_add(self):
    self.cnt = self.cnt + 1
    # self.cnt += 1

In [ ]:
a = 5 
a -= 2  # a = a - 2
print(a)

3

In [ ]:
A = Calculator()

In [ ]:
A.cnt

0

In [ ]:
output = A.add(1, 2)
print(output)

3

In [ ]:
output = A.sub(3, 5)
print(output)

-2

In [ ]:
output = A.div(4, 0)

ValueError: ignored

In [ ]:
A.cnt

2

In [56]:
class Calculator:
  def __init__(self):
    self.cnt = 0 
    self.user = "나윤진"

  def add(self, a, b):
    self._cnt_add()
    return a + b

  def sub(self, a, b):
    self._cnt_add()
    return a - b

  def mul(self, a, b):
    self._cnt_add()
    return a * b 

  def div(self, a, b):
    if b == 0:
      # print("error")
      raise ValueError("Error : b == 0")
    else:
      self._cnt_add()
      return a / b 

  def _cnt_add(self):
    self.cnt = self.cnt + 1
    # self.cnt += 1

In [57]:
A = Calculator()
print(A.cnt)
print(A.user)

0
나윤진